.button-style {
  width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.col-sm-1-custom {
    position: relative;
    min-height: 1px;
    min-width: 1px;
    padding: 0px;
    margin: 0px;
}

.col-sm-4 {
    float: none;
    margin: 0 auto;
}

.jumbotron {
    padding: 0px;
    width: 100%;
    position: relative;
}

.board {
    filter: drop-shadow(0px 00px 4px #000000);
    border-width: 20px;
    border-color: #222222;
    border-style: double;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

.player-attr {
    filter: drop-shadow(0px 00px 4px #000000);
    padding: 10px;
    background: #222222;
    color: azure;
    height: 100px;
    font-family: monospace;
    font-size: 4em;
    border-style: ridge;
    border-color: #234323;
}