.background {
    background-color: #d8d8d8;
    height: stretch;
    filter: drop-shadow(0px 00px 4px #000000);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.container-style {
    background-color: #234323;
    color: #d8d8d8
}

.header-style {
    font-family: monospace;
    font-size: 6em;
    font-weight: bolder;
}

.landing {
    background: #343434;
    height: stretch;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.timer-style {
    padding: 20%;
}

