body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.boardPiece {
    width: 22px;
    height: 22px;
}

.piece-player {
    background-color: black;
    border-style: solid;
    height: 25px;
    width: 25px;
}

.piece-ground {
    background-color: green;
    border-style: solid;
    height: 25px;
    width: 25px;
}