body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.boardPiece {
    width: 22px;
    height: 22px;
}

.piece-ground {
    background-color: green;
    border-style: solid;
    border-width: 0.5px;
    height: 25px;
    width: 25px;
}

.piece-player {
    background-color: black;
    border-style: solid;
    border-width: 0.5px;
    height: 25px;
    width: 25px;
}

.piece-wall {
    background-color: darkolivegreen;
    border-style: solid;
    border-width: 0.5px;
    height: 25px;
    width: 25px;
}

.piece-water {
    background-color: darkblue;
    border-style: solid;
    border-width: 0.5px;
    height: 25px;
    width: 25px;
}