body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.boardPiece {
    width: 31px;
    height: 31px;
}

.piece-ground {
    background-image: url(../../../resources/images/grass.jpg);
    height: 34px;
    width: 34px;
}

.piece-player {
    background-image: url(../../../resources/images/character_forward.jpg);
    height: 34px;
    width: 34px;
}

.piece-ally{
    background-image: url(../../../resources/images/ally_forward.jpg);
    height: 34px;
    width: 34px;
}

.piece-enemy{
    background-image: url(../../../resources/images/enemy_forward.jpg);
    height: 34px;
    width: 34px;
}

.piece-wall {
    background-image: url(../../../resources/images/wall.jpg);
    height: 34px;
    width: 34px;
}

.piece-tree {
    background-image: url(../../../resources/images/tree.jpg);
    height: 34px;
    width: 34px;
}

.piece-fog {
    background-color: #222222;
    height: 34px;
    width: 34px;
}

.piece-water {
    background-image: url(../../../resources/images/water.jpg);
    height: 34px;
    width: 34px;
}