body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.boardPiece {
    width: 31px;
    height: 31px;
}

.piece-ground {
    background-image: url(../../../resources/images/grass.jpg);
    height: 34px;
    width: 34px;
}

.piece-player {
    background-image: url(../../../resources/images/character_forward.gif);
    background-color: #285c28;
    height: 34px;
    width: 34px;
}

.piece-wall {
    background-image: url(../../../resources/images/wall.jpg);
    height: 34px;
    width: 34px;
}

.piece-water {
    background-color: darkblue;
    border-style: solid;
    border-width: 0.5px;
    height: 34px;
    width: 34px;
}